.col-navbar{
    background-color: aqua;
    width: 55px;
    height: 100vh;
}
.sidebarEventTrigger{
    background-color: chartreuse;
    width: 20px;
    height: 100vh;
}
.sm-navbar-content{
    display: none;
}

@media screen and (max-width: 600px){
    .lg-navbar-content{
        display: none;
    }
    .sm-navbar-content{
        display: initial;
    }
}